body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 250px;
  color: #fff;
  margin-left: 25px;
}

h2 {
  font-size: 75px;
}

h3 {
  font-size: 57px;
  margin-bottom: 15px;
}

h4 {
  font-size: 35px;
}

p {
  font-family: "Open Sans", sans-serif;
}

header p {
  color: #fff;
  margin-left: 25px;
}

main {
  margin-top: 75px;
}

a {
  text-decoration: none;
}

.hero {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/172/450/original/pexels-lorenzo-castellino-61076802-32398720.jpg?1755611300);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.language {
  display: flex;
  margin: 20px;
  float: right;
  color: #fff;
}

.menu {
  color: #fff;
  display: flex;
  margin: 20px;
  float: right;
}

.culture {
  margin-bottom: 90px;
}

.seasanol-wonders {
  margin-top: 95px;
}

.custom-accordion-btn {
  font-weight: 500;
  font-size: 1.3rem;
  color: #212529;
  background-color: #fff;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 13px;
}

.custom-accordion-btn:not(.collapsed) {
  color: #000;
  background-color: #fff;
  box-shadow: none;
}

.accordion-body {
  font-family: "Open Sans", sans-serif;
}

.everything-japan {
  margin-top: 95px;
  border-top: 1px solid #ddd;
  margin-bottom: 50px;
}

.everything-japan h2 {
  margin-bottom: 90px;
  margin-top: 40px;
}

.cuisine {
  border-bottom: #ddd 1px solid;
}

.cuisine-heading {
  margin-bottom: 25px;
}

.cuisine-details {
  margin-bottom: 17px;
  font-family: "Open Sans", sans-serif;
}

.cuisine-type {
  margin-top: 7px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 45px;
}

footer {
  margin-bottom: 25px;
  border-bottom: #ddd 1px solid;
}

footer h2 {
  color: #fff;
  padding: 45px 27px;
  margin-top: 35px;
}

footer h4 {
  margin-top: 57px;
  padding: 13px;
}

footer h5 {
  font-size: 23px;
  text-decoration: underline;
}

footer h5:hover {
  text-decoration: underline;
  color: #0d6997;
}

footer button {
  margin-top: 95px;
}

footer ul li {
  color: #6f7172;
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
}

.japan-trip {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/172/697/original/pexels-casia-charlie-1270232-2421608.jpg?1756049498);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 85vh;
  margin-top: 115px;
}

.japan-trip-details {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  margin: 10px 15px;
}

.btn {
  font-family: "Lato", sans-serif;
}

.japan-japanese {
  font-weight: 800;
  font-size: 55px;
  margin-bottom: 7px;
  text-align: center;
}

.website-by {
  color: #a3a9ac;
  font-size: 15px;
  text-align: center;
  margin-bottom: 13px;
}

.website-by:hover {
  color: #0d6997;
  text-decoration: underline;
}

.image {
  transition: transform 0.6s ease, opacity 0.6s ease;
  transform: scale(1);
}

.image:hover {
  transform: scale(0.9);
  opacity: 0.9;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(90px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-up {
  animation: fadeInUp 3s ease-out forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.slide-in-left {
  animation: slideInLeft 3s ease-out forwards;
}

.lead {
  font-size: 3.75rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  main {
    margin-top: 32px;
  }

  h1 {
    font-size: 95px;
    text-align: center;
    margin-bottom: 25px;
    margin-left: 32px;
  }

  h2 {
    font-size: 35px;
    margin-bottom: 17px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 25px;
  }

  footer h4 {
    font-size: 24px;
  }

  footer h5 {
    font-size: 20px;
    text-decoration: none;
  }

  .lead {
    font-size: 2.35rem;
    font-weight: 300;
    text-align: center;
  }

  .culture {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }

  .cuisine-heading {
    margin-bottom: 27px;
    margin-top: 25px;
  }

  .seasanol-wonders {
    margin-top: 15px;
  }

  footer button {
    margin-top: 15px;
  }
  .everything-japan {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .everything-japan h2 {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .btn-lg {
    padding: 3px 7px;
    margin-bottom: 41px;
  }

  .language {
    text-align: center;
    margin: 20px;
  }

  .menu {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .japan-japanese {
    font-size: 30px;
  }

  .slide-in-left,
  .fade-in-up {
    animation: none !important;
    transition: none !important;
  }
}
