body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 250px;
  color: #fff;
  margin-left: 25px;
}

h2 {
  font-size: 75px;
}

h3 {
  font-size: 57px;
  margin-bottom: 15px;
}

h4 {
  font-size: 35px;
}

p {
  font-family: "Open Sans", sans-serif;
}

header p {
  color: #fff;
  font-size: 65px;
  margin-left: 25px;
}

main {
  margin-top: 75px;
}

.hero {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/172/450/original/pexels-lorenzo-castellino-61076802-32398720.jpg?1755611300);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.language {
  display: flex;
  margin: 20px;
  float: right;
}

.menu {
  display: flex;
  margin: 20px;
  float: right;
}

.culture {
  margin-bottom: 90px;
}

.seasanol-wonders {
  margin-top: 95px;
}

.custom-accordion-btn {
  font-weight: 500;
  font-size: 1.3rem;
  color: #212529;
  background-color: #fff;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 13px;
}

.custom-accordion-btn:not(.collapsed) {
  color: #000;
  background-color: #fff;
  box-shadow: none;
}

.accordion-body {
  font-family: "Open Sans", sans-serif;
}

.everything-japan {
  margin-top: 95px;
  border-top: 1px solid #ddd;
  margin-bottom: 50px;
}

.everything-japan h2 {
  margin-bottom: 90px;
  margin-top: 40px;
}

.cuisine {
  border-bottom: #ddd 1px solid;
}

.cuisine-heading {
  margin-bottom: 25px;
}

.cuisine-details {
  margin-bottom: 17px;
  font-family: "Open Sans", sans-serif;
}

.cuisine-type {
  margin-top: 7px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 45px;
}

footer {
  margin-bottom: 55px;
}

footer h2 {
  color: #fff;
  padding: 45px 27px;
  margin-top: 35px;
}

footer button {
  margin-top: 95px;
}

.japan-trip {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/172/697/original/pexels-casia-charlie-1270232-2421608.jpg?1756049498);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 85vh;
  margin-top: 115px;
}

.japan-trip-details {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  margin: 10px 15px;
}

.btn {
  font-family: "Lato", sans-serif;
}
